<p>add-cv works!</p>
<form [formGroup]="form">
  Name:
  <input type="text" class="form-control" formControlName="name" />
  <div *ngIf="name?.errors && name?.touched" class="alert alert-danger">
    Ce champ est obligatoire
  </div>
  Firstname:
  <input type="text" class="form-control" formControlName="firstname" />
  <div *ngIf="firstname?.errors && firstname?.touched" class="alert alert-danger">
    Ce champ est obligatoire
  </div>

  Age:
  <input type="text" class="form-control" formControlName="age" />
  <div *ngIf="age?.errors && age.touched" class="alert alert-danger">
    Ce champ est obligatoire
  </div>

  Cin:
  <input type="text" class="form-control" formControlName="cin" />
  <div *ngIf="cin?.errors && cin?.touched">
    <!-- <div *ngIf="form.errors['cinFirstCars']" class="alert alert-danger"> Cette Cin est invalide</div> -->
    <div *ngIf="cin?.errors?.['required']" class="alert alert-danger"> Ce champ est obligatoire </div>
    <div *ngIf="cin?.errors?.['cinExists']" class="alert alert-danger"> Cette Cin est existante</div>
    <div *ngIf="cin?.errors?.['pattern']" class="alert alert-danger"> Cin doit être 8 caractères </div>
    <div *ngIf="form.hasError('cinInvalid')" class="alert alert-danger"> Cette Cin est invalide (age et cin combatibilité)</div>

  </div>

  Job: <input type="text" class="form-control" formControlName="job" />
  <div *ngIf="job?.errors && job?.touched" class="alert alert-danger">
    Ce champ est obligatoire
  </div>
  Path:
  <input type="text" class="form-control" formControlName="path" />

  <button [disabled]="form.invalid" class="btn btn-primary" (click)="addCv()">
    add cv
  </button>
</form>
{{ form.errors | json }}
