<div class="row">
  <div class="col">
    <div class="alert alert-warning">
      {{ date | date : "full" | uppercase }}
    </div>
    <div>
      <ul 
        class="nav nav-tabs"
        style="cursor: pointer;"
      >
        <li class="nav-item cursor">
          <a
            class="nav-link"
            [class.active]="tab === 'junior'"
            (click)="tab = 'junior'"
          >
            Juniors
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="tab === 'senior'"
            (click)="tab = 'senior'"
          >
            Seniors
          </a>
        </li>
      </ul>
      
      <div>
        <app-list *ngIf="tab === 'junior'" [cvs]=" cvJunior$ | async"></app-list>
        <app-list *ngIf="tab === 'senior'" [cvs]=" cvSenior$ | async"></app-list>
      </div>
    </div>
    
  </div>
  <div class="col">
    <app-cv-card [cv]="selectedCv$ | async"></app-cv-card>
  </div>
</div>
<app-embauche></app-embauche>
